/*
* @Author: Lich Amnesia
* @Date:   2016-11-04 14:51:46
* @Last Modified by:   Lich Amnesia
* @Last Modified time: 2016-11-23 18:15:33
*/

.Event {
  /*text-align: center;*/
}
.Eventtags{
 text-align: center; 
}

.Event-logo {
  animation: Event-logo-spin infinite 20s linear;
  height: 80px;
}

.Event-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Event-intro {
  font-size: large;
}

@keyframes Event-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: Helvetica, sans-serif;
}


.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  top: 51px;
  width: 240px;
  padding: 10px 20px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  margin-left: 40px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

