/*
* @Author: Lich Amnesia
* @Date:   2016-11-06 20:43:12
* @Last Modified by:   Lich Amnesia
* @Last Modified time: 2016-11-06 20:43:12
*/

.EventDetail{
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 2%;
	margin-top: 2%;
}

.EventDetail img{
	position: relative;
	width:100%;
}

.event-detail-introduction{
	margin-bottom: 30px;
	border-style: solid;
	border-width: 1px;
    border-color: #C0C0C0;
    height:500px;

}

.event-detail-introduction img{
width: 50%;
height: 370px;
float:left;
margin-right: 20px;
margin-left:20px;
}

/*.event-detail-introduction-image{
height: 200px;
width: 50%;
float:left;
margin-right: 20px;
margin-left:20px;
position: relative;
clip: rect(0px,200px,200px,0px);

}*/

.event-detail-introduction-info{
margin-right: 20px;
margin-left:20px;
font-size:130%;
}

.event-detail-introduction-h1{
margin-left:20px;
margin-right:20px;
}

.event-detail-detail{
	margin-bottom: 30px;
}

.event-table{
	border-top: 1px solid rgb(221, 221, 221);
    margin-top:20px;
}