/*
* @Author: Lich Amnesia
* @Date:   2016-11-06 21:57:09
* @Last Modified by:   Lich Amnesia
* @Last Modified time: 2016-11-23 17:14:06
*/

.ProfileNavigation {
  text-align: center;
}

button.active.list-group-item {
  text-align: center;
}
button.album.list-group-item {
  text-align: center;
}



.table-user-profile {
    border-top: 1px solid rgb(221, 221, 221);
    text-align: center;
    margin-top:20px;
}

.Event-introduction{
  border-style: solid;
  border-width: 1px;
  border-color: #C0C0C0;
  padding:2%; 
  margin-bottom: 20px;
}

.Event-introduction img{
  position: relative;
  width:100%;
}

.profile{
	margin-left: 9%;
	margin-right: 9%;
}