/*
* @Author: Lich Amnesia
* @Date:   2016-11-06 21:57:09
* @Last Modified by:   Lich Amnesia
* @Last Modified time: 2016-11-06 22:02:35
*/

.ProfileNavigation {
  text-align: center;
}

button.active.list-group-item {
  text-align: center;
}
button.album.list-group-item {
  text-align: center;
}
